@font-face {
  font-family: 'BR R';
  src: local(BR R), url('/fonts/BR_Regular.ttf'), url('/fonts/BR_Regular.otf');
  font-weight: 100;
}

/* reset start */
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-weight: 100;
}
html,
body,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
/* reset end */

* {
  font-family: BR R;
  color: inherit;
}
body {
  text-align: center;
  background-color: #f5d57e;
}

.title {
  margin: 0;
}
.title,
.button {
  line-height: 1.2em;
}
p.subtitle {
  font-size: 1.6rem;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.content-wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
.content-aligner {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.fix-and-stretch-aligner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.fix-and-stretch-aligner .stretch {
  flex-grow: 1;
}

.image-background {
  display: block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 100%;
  position: relative;
}
.image-background > * {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-container {
  margin: 0 auto;
}
.content-container > * {
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  margin: 1em auto;
  flex-shrink: 1;

  background-image: url('/images/ui/main.png');
  /* height/width ratio */
  padding-top: 70%;
}
.main-image .size-container {
  width: 100%;
  height: 100%;
}
.main-image img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}

.button {
  border: none;

  padding: 0.8em 2em;
  cursor: pointer;
  font-size: 1rem;

  background-image: url('/images/ui/button.png');
  /* height/width ratio */
  padding-top: 22%;
}
.button:not(:first-of-type) {
  margin-top: 0.2em;
}

.progress-wrapper {
  padding: 5px 2em 0 2em;
  display: flex;
  align-items: center;
}
.progress-wrapper .numbers {
  flex-shrink: 0;
  margin-right: 5px;
}
.progress-container {
  background-image: url('/images/progress/border.png');
  /* height/width ratio */
  padding-top: 8.4%;
}
.progress-container .border-container {
  width: 100%;
  height: 100%;

  padding: 2px;

  z-index: -1;
}
.border-container .full-bar {
  background-color: #fffeea;
  background-origin: content-box;
  height: 100%;
  border-radius: 200px;
}
.progress-container .bar {
  background-color: #f88772;
  height: 100%;
  border-radius: 11px 0 0 11px;
  position: relative;
}
.progress-container.end .bar {
  border-radius: 11px;
}
.progress-container .indicator {
  position: absolute;
  height: 100%;
  width: auto;
  top: 10px;
  z-index: 2;
}

.result .description {
  text-align: left;
  line-height: 2em;
}
.description li {
  position: relative;
  padding-left: 2.2em;
  margin-left: 4px;
}
.description li::before {
  content: '';
  background-color: transparent;
  background-image: url('/images/ui/list.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 0;
}

.image-preloader {
  background-image: url('/images/main/1.png'), url('/images/main/2.png'),
    url('/images/main/3.png'), url('/images/main/4.png');
}

.hidden {
  display: none;
}

footer {
  margin-top: 1em;
}

.share ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  padding: 0.8em;
  background-color: #bfdc64;
  border-radius: 28px;
  border: 3.5px solid #4f3526;
}
.share li {
  flex-grow: 1;
  padding: 0 0.6em;
}
.share button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  min-height: 3em;
  padding: 0;
}
.share button div.image-container {
  height: 100%;
  position: relative;
}
