/* reset start */
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
p,
ul,
button {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}
/* reset end */

@font-face {
  font-family: 'GangwonEduSaeeum';
  src: local('강원교육새음 Medium'), local('GangwonEduSaeeum Medium'),
    local('GangwonEduSaeeumMedium'), local('GangwonEduSaeeum OTF Medium'),
    url('/fonts/GangwonEduSaeeum.woff2') format('woff2'),
    url('/fonts/GangwonEduSaeeum.woff') format('woff'),
    url('/fonts/GangwonEduSaeeum.ttf') format('truetype'),
    url('/fonts/GangwonEduSaeeum.otf') format('opentype');
}

html {
  font-size: 20px;
}
* {
  font-family: GangwonEduSaeeum;
  color: inherit;
}
h1,
h2,
h3 {
  font-weight: 500;
}
body {
  text-align: center;
  background-color: #f5d57e;
}

header {
  font-size: 1.1em;
}
.bold {
  font-weight: bold;
}
.no-margin {
  margin: 0;
}
.test-title {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

.container {
  max-width: 425px;
  min-width: 330px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.content-wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
.content-aligner {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.fix-and-stretch-aligner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.fix-and-stretch-aligner .stretch {
  flex-grow: 1;
}

.image-background {
  display: block;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 100%;
  position: relative;
}
.image-background > * {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-container {
  margin: 0 auto;
}
.content-container > * {
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-bottom: 0.3em;

  background-image: url('/images/ui/button.png');
  /* height/width ratio */
  aspect-ratio: 2050 / 470;
}
.button:not(:first-of-type) {
  margin-top: 0.2em;
}

.progress-wrapper {
  padding: 5px 2em 0 2em;
  display: flex;
  align-items: center;
}
.progress-wrapper .numbers {
  flex-shrink: 0;
  margin-right: 5px;
}
.progress-container {
  background-image: url('/images/ui/progress.png');
  /* height/width ratio */
  aspect-ratio: 2365 / 123;
}
.progress-container .border-container {
  width: 100%;
  height: 100%;

  padding: 2px;

  z-index: -1;
}
.border-container .full-bar {
  background-color: #fffeea;
  background-origin: content-box;
  height: 100%;
  border-radius: 200px;
}
.progress-container .bar {
  background-color: #f88772;
  height: 100%;
  border-radius: 11px 0 0 11px;
  position: relative;
}
.progress-container.end .bar {
  border-radius: 11px;
}

.result .description {
  text-align: left;
}
.description li {
  position: relative;
  padding-left: 2em;
  line-height: 1.6em;
  margin-bottom: 0.4em;
}
.description li::before {
  content: '';
  background-color: transparent;
  background-image: url('/images/ui/list.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  left: 3px;
  top: 5px;
}

.hidden {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  overflow: hidden;
}

.footer {
  margin-top: 1em;
}

.share {
  margin-top: 0.2em;
}
.share ul {
  display: flex;
  justify-content: space-around;
}
.share .image-background {
  background-image: url('/images/ui/button.png');
  /* height/width ratio */
  aspect-ratio: 2050 / 470;
}
.share li {
  flex-grow: 1;
  padding: 0 0.6em;
  height: 100%;
}
.share button {
  font-size: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
}
.share button div.image-container {
  height: 100%;
  position: relative;
}

.product-container {
  margin-top: 3em;
}
.product-container .heading h1 {
  margin: 0;
}
.product-page {
  margin-top: 1em;
  background-color: transparent;
}
.product-page:not(:first-of-type)::before {
  content: '';
  width: 100%;
  aspect-ratio: 2050 / 200;
  position: absolute;
  left: 0;
  top: -16px;
  background-image: url('/images/product/page-connector.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.product-container .outro-title {
  line-height: 0.8em;
  margin-top: -0.3em;
}
.outro.image-background {
  margin-top: 2px;

  background-image: url('/images/product/product-bg.png');
  /* height/width ratio */
  aspect-ratio: 2050 / 3000;
}
.outro .outro-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.outro .outro-flex-column > * {
  margin-bottom: 0.3em;
}
.profile-links {
  width: 100%;
}
.profile-links ul {
  margin-top: 0.6em;
}
.profile-links li {
  border: 3px solid #4f3526;
  border-radius: 13px;
  padding: 3px;
  font-size: 0.8rem;
  font-size: min(3vw, 0.8rem);
  box-shadow: 3px 3px 3px #bababa;
}
.profile-links li.emphasize {
  padding: 3px 5px;
  box-shadow: 2px 2px 3px #808080;
}
.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-container > *:not(:first-child) {
  margin-left: 4px;
}
.product-container button {
  width: 1.3em;
  height: 1.3em;
}
.profile-container.enlarge-icon button {
  width: 1.4em;
  height: 1.4em;
}
.profile-container .image-container {
  height: 100%;
  position: relative;
}

.credits {
  display: flex;
  margin-top: 3em;
  align-items: center;
}
.credits > * {
  flex-grow: 1;
}
.credits ul {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
}
.credits li {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffeb;
  border: 1px solid #503527;
  box-shadow: 1px 1px #000;
}
.credits a {
  display: flex;
  align-items: center;
}
.credits button {
  min-width: 1em;
  min-height: 1em;
  position: relative;
  margin-right: 3px;
  font-size: 0.6em;
}

.match-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  cursor: pointer;
}
.match-container .description {
  font-size: 0.8em;
}
.match {
  flex-grow: 1;
  width: 100%;
}
.match-box {
  background-color: #ffffeb;
  border-radius: 14px;
  margin: 5px;
  padding: 5px;
  border: 2px solid #4f3527;

  min-height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-image {
  background-color: #fffeea;
}
.border-background-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0.8em auto;
}
.border-background {
  position: absolute;
  border: 20px solid #503625;
  width: 100%;
  height: 100%;
  border-image-source: url('/images/ui/border.png');
  border-image-slice: 124 106 120 110;
  z-index: 2;
}
.border-radius-mask {
  border-radius: 24px;
  border-top-left-radius: 24px 24px;
  border-top-right-radius: 30px 34px;
  border-bottom-left-radius: 30px 34px;
  border-bottom-right-radius: 30px 34px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.guide {
  position: absolute;
  font-size: 0.9em;
}
.guide.guide-bottom {
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}
.guide.guide-top-right {
  right: 1em;
  top: 1em;
}
.nonselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
}

.dimmed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
