@font-face {
  font-family: 'BR R';
  src: local(BR R), url('/fonts/BR_Regular.ttf'), url('/fonts/BR_Regular.otf');
  font-weight: 100;
}

/* reset start */
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-weight: 100;
}
html,
body,
p,
h1 {
  margin: 0;
  padding: 0;
}
/* reset end */

:root {
  --bg-color: #f5d57e;
  --result-bg-color: #fffeea;
  --button-bg-color: #c0dc65;
}

body {
  font-family: BR R;
  text-align: center;
  background-color: var(--bg-color);
}

.image-preloader {
  background-image: url('/images/test/1.png'), url('/images/test/2.png'),
    url('/images/test/3.png'), url('/images/test/4.png'),
    url('/images/test/5.png');
}

.heading,
.button {
  line-height: 1.2em;
}
.result p {
  line-height: 2em;
}

.heading {
  font-family: BR R;
  margin: 0;
}

.container {
  max-width: 425px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  position: relative;
}

.content-wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
.content-aligner {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.fix-and-stretch-aligner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.fix-and-stretch-aligner .stretch {
  flex-grow: 1;
}

.image-background {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;

  width: 100%;
  position: relative;
}
.image-background > * {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-container {
  margin: 0 auto;
}
.content-container > * {
  padding: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  margin: 1em auto;
  flex-shrink: 1;

  background-image: url('/images/main.png');
  /* height/width ratio */
  padding-top: 70%;
}
.main-image .size-container {
  width: 100%;
  height: 100%;
}
.main-image img {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
}

.button {
  border: none;

  padding: 0.8em 2em;
  font-family: BR R;
  cursor: pointer;
  color: black;
  font-size: 1rem;

  background-image: url('/images/button.png');
  /* height/width ratio */
  padding-top: 22%;
}
.button:not(:first-of-type) {
  margin-top: 0.5em;
}

.progress-container {
  background-image: url('/images/progress/border.png');
  /* height/width ratio */
  padding-top: 8.4%;
}
.progress-container .border-container {
  width: 100%;
  height: 100%;
  padding: 0.8%;
  z-index: -1;
}
.progress-container .bar {
  background-color: #f88772;
  height: 100%;
  border-radius: 11px;
  position: relative;
}
.progress-container .indicator {
  position: absolute;
  height: 100%;
  width: auto;
  top: 10px;
  z-index: 2;
}
